html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Alfa Slab One', sans-serif; /* Setează fontul Alfa Slab One */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  color: #263238;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Înălțimea completă a ecranului */
  width: 100vw;  /* Lățimea completă a ecranului */
  background-color: rgba(255, 255, 255, 0.85); /* Fundal semi-transparent pentru conținut */
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  padding: 20px;
}

/* Stiluri responsive */
@media (max-width: 768px) {
  .container {
    padding: 15px;
    width: 95%; /* Ocupă aproape toată lățimea ecranului pe mobil */
  }

  .title {
    font-size: 1.5rem;
  }

  .text {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
    width: 100%; /* Pe ecrane foarte mici, ocupă întreaga lățime */
  }

  .title {
    font-size: 1.2rem;
  }

  .text {
    font-size: 0.9rem;
  }
}