html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Alfa Slab One', sans-serif; /* Setează fontul Alfa Slab One */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  color: #263238;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100vw;  
  background-color: rgba(255, 255, 255, 0.85); 
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  padding: 20px;
}

/* Stiluri responsive */
@media (max-width: 768px) {
  .container {
    padding: 15px;
    width: 95%; 
  }

  .title {
    font-size: 1.5rem;
  }

  .text {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
    width: 100%; 
  }

  .title {
    font-size: 1.2rem;
  }

  .text {
    font-size: 0.9rem;
  }
}


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}